<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Calculus Cracker</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="css/resources.css" rel="stylesheet">
  <script src = "scripts/resources.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body onload = "start()">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <a class="navbar-brand" style = "font-size: 40px; color: white">Calculus Cracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" onclick = "gotohome()" style = "font-size: 30px; color: white">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick = "gotoportal()" style = "font-size: 30px; color: white">Portal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick = "gotoresources()" style = "font-size: 30px; color: white">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "loginBtn" onclick = "gotosignin()" style = "font-size: 30px; color: white">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "welcomeText" style = "font-size: 30px; color: white"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "logoutBtn" onclick = "logout()" style = "font-size: 30px; color: white">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div id = "data">
    <h1>Resources</h1><br>
    <h2>Calculus/Trigonometry Rules
    <br>
    <iframe src="resources/facts.pdf" width="100%" height="800px">
        </iframe>
    <br>
    <br>
    <h2>Links</h2>
    <p>
      • <a href="https://www.mathsisfun.com/calculus/" target="_blank"> MathIsFun Calculus Page</a><br>
      • <a href="https://www.mathsisfun.com/calculus/integration-rules.html" target="_blank"> Integral Rules</a><br>
      • <a href="https://www.mathsisfun.com/calculus/derivatives-rules.html" target="_blank"> Derivative Rules</a><br>
      • <a href="https://www.khanacademy.org/math/integral-calculus" target="_blank"> Khan Academy Integral Calculus</a><br>
      • <a href="https://www.khanacademy.org/math/differential-calculus" target="_blank"> Khan Academy Differential Calculus</a><br>
      • <a href="http://tutorial.math.lamar.edu/Classes/CalcI/CalcI.aspx" target="_blank"> Paul's Online Notes for Calculus</a><br>
      • <a href="https://artofproblemsolving.com/wiki/index.php/Calculus" target="_blank"> AOPS's Calculus Page</a><br>
    </p>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</div>

<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>
